
h1 {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.letter-button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#word-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 2rem;
  gap: 20px;
}

#word-display span {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  min-width: 30px;  /* Ensures each letter has the same width */
  text-align: center;
}

#gameMessage {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}
